/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}

/* -----------------------------------------------------------------------------
 * tooltips
 * -------------------------------------------------------------------------- */
tooltip {
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid #35709d;
}
/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    all: unset; /* see https://github.com/1sixth/flakes/commit/84e5c266535eec96de5332db9318b99de940d9e9 */
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
    /* background-color: rgba(0, 0, 0, 0.6); */
    background-color: rgba(0, 0, 0, 1);
    color: white;
    /* font-family: "Bitstream Vera Sans Mono"; */
    font-family: "JetBrains Mono";
    /* font-size: 14px; */
    font-size: 12px;
}

/* Each module */
#pulseaudio,
#network,
#cpu,
#memory,
#temperature,
#battery,
#clock
/* #mode, */
/* #custom-vpn, */
/* #mpd, */
/* #tray, */
/* #custom-stats, */
/* #custom-power */
 { 
    padding-left: 6px;
    padding-right: 6px;
    /* margin:4px 6px; */
    margin:2px 6px;
   /* border-bottom: 2px solid #35709d; */
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#pulseaudio {
  border-bottom: 1px solid  #f1c40f;
}

#pulseaudio.muted {
    color: orange;
}

#network {
    color: #00ff00;
  border-bottom: 1px solid  #2980b9;
}

#network.disconnected {
    color: orange;
}
#cpu {
    border-bottom: 1px solid #2ecc71;
}

#memory {
    border-bottom: 1px solid #9b59b6;
}

#temperature {
    border-bottom: 1px solid #f0932b;
    color: #ADD8E6;
}

#temperature.critical {
  animation-name: blink-critical;
    animation-duration: 4s;
  border-radius: 50%;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery {
    border-bottom: 1px solid #ffffff;
}

#battery.charging, #battery.plugged {
    background-color: #26A65B;
}
#battery.warning:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink-warning;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink-critical;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#clock {
  /* No styles */
  border-bottom: 1px solid #64727D;
}


#window {
    font-weight: bold;
}
/* also inactive state */
#workspaces button {
   /* border-bottom: 2px solid #35709d; */
    padding-left: 6px;
    padding-right:6px;
    margin: 0px;
    color: #999999;
}
#workspaces button:hover {
  background: #4c7899;
}

#workspaces button.focused {
    /* border-color: #4c7899; */
  border-color:red;
    color: white;
    background-color: #006400;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}
#mpd {color: #6aa3cd;}
#mpd.disconnected,
#mpd.paused,
#mpd.stopped {
    color: #999999;
}
